<div class="container" id="flickr-bg">
	<div class="row">
		<div class="col-xs-12 header-bg">
			<h1>datWeather</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<!--<h2>{{place}}</h2>-->
					<h2 class="text-center">{{City}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<div class="row">
						<div class="col-xs-12">
							<!--<h2>{{place}}</h2>-->
							<h3>Search</h3>
							<form action="/city" method="POST">
								<div class="row">
									<div class="col-xs-12">
										<div class="input-group">
		 									<input type="text" name="city" id="input-city" class="form-control" placeholder="City" aria-describedby="basic-addon1">
		 								</div>
		 							</div>
 								</div>
 								<div class="row">
	 								<div class="col-xs-12">
			 							<div class="input-group">
			        						<select id="input-state" name="state" class="form-control input-medium bfh-states" data-country="US" data-state="AL"></select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="input-group">
		 									<input id="input-zip" type="text" name="zip" class="form-control" placeholder="Zip Code" aria-describedby="basic-addon1">
		 								</div>
		 							</div>
		 						</div>
		 						<div class="row">
		 							<div class="col-xs-12">
		 								<div class="input-group">
											<select id="input-country" name="country" class="form-control input-medium bfh-countries" data-country="US"></select>
										</div>
									</div>
								</div>
								<div class="row">
		 							<div class="col-xs-12">
		 								<div class="input-group">
      										<span class="input-group-btn">
        										<button id="submit" class="btn btn-primary" type="submit">Submit</button>
      										</span>
    									</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-lg-9">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Spring</h3>
							  	</div>
							  	<div class="panel-body">
							    	<div class="well well-lg">
							    		{{springTemperature}}
							    	</div>
							    	<div class="well well-lg">
							    		{{springPercipitation}}
							    	</div>
							    	<div class="well well-lg">
							    		{{springHumidity}}
							    	</div>
							    	<div class="well well-lg">
							    		{{springWind}}
							    	</div>
							   		<div class="text-center">
							    		<a href="#">See More</a>
							    	</div>
							  	</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Summer</h3>
							  	</div>
							  	<div class="panel-body">
							    	<div class="well well-lg">
							    		{{summerTemperature}}
							    	</div>
							    	<div class="well well-lg">
							    		{{summerPercipitation}}
							    	</div>
							    	<div class="well well-lg">
							    		{{summerHumidity}}
							    	</div>
							    	<div class="well well-lg">
							    		{{summerWind}}
							    	</div>
							    	<div class="text-center">
							    		<a href="#">See More</a>
							    	</div>
							  	</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Fall</h3>
							  	</div>
							  	<div class="panel-body">
							    	<div class="well well-lg">
							    		{{fallTemperature}}
							    	</div>
							    	<div class="well well-lg">
							    		{{fallPercipitation}}
							    	</div>
							    	<div class="well well-lg">
							    		{{fallHumidity}}
							    	</div>
							    	<div class="well well-lg">
							    		{{fallWind}}
							    	</div>
							    	<div class="text-center">
							    		<a href="#">See More</a>
							    	</div>
							  	</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Winter</h3>
							  	</div>
							  	<div class="panel-body">
							    	<div class="well well-lg">
							    		{{winterTemperature}}
							    	</div>
							    	<div class="well well-lg">
							    		{{winterPercipitation}}
							    	</div>
							    	<div class="well well-lg">
							    		{{winterHumidity}}
							    	</div>
							    	<div class="well well-lg">
							    		{{winterWind}}
							    	</div>
							   		<div class="text-center">
							    		<a href="#">See More</a>
							    	</div>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
    {{data}}
