<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>datWeather</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">		
					<!--<h2>{{place}}</h2>-->
					<h2>Austin</h2>
				</div>		
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="row">
						<div class="col-xs-12">		
							<!--<h2>{{place}}</h2>-->
							<h3>Search</h3>
							<form>
								<div class="row">
									<div class="col-xs-12">
										<div class="input-group">
		 									<input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
		 								</div>
		 							</div>	
 								</div>
 								<div class="row">
	 								<div class="col-xs-12">
			 							<div class="input-group">	
			 								<div class="input-group-btn">
			        						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State <span class="caret"></span></button>
			        							<ul class="dropdown-menu">
											         <li><a href="#">Texas</a></li>
											         <li><a href="#">Washington</a></li>
											         <li><a href="#">California</a></li>
			        							</ul>
			      							</div>
										</div>
									</div>	
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="input-group">
		 									<input type="text" class="form-control" placeholder="Zip Code" aria-describedby="basic-addon1">
		 								</div>
		 							</div>
		 						</div>	
		 						<div class="row">
		 							<div class="col-xs-12">	
			 								<div class="input-group">	
			 									<div class="input-group-btn">
			        							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Country <span class="caret"></span></button>
			        								<ul class="dropdown-menu">
											          <li><a href="#">USA</a></li>
											          <li><a href="#">United Kingdom</a></li>
											          <li><a href="#">Germany</a></li>
			        								</ul>
			      								</div>
											</div>
									</div>		
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="input-group">	
		 									<div class="input-group-btn">
		        							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Region <span class="caret"></span></button>
		        								<ul class="dropdown-menu">
										          <li><a href="#">North America</a></li>
										          <li><a href="#">Central America</a></li>
										          <li><a href="#">South America</a></li>
		        								</ul>
		      								</div>
										</div>
									</div>	
								</div>		
							</form>
						</div>
					</div>		
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-3">		
							<!--<h2>{{place}}</h2>-->
							<h3>Spring</h3>
						</div>
						<div class="col-xs-3">		
							<!--<h2>{{place}}</h2>-->
							<h3>Summer</h3>
						</div>
						<div class="col-xs-3">		
							<!--<h2>{{place}}</h2>-->
							<h3>Fall</h3>
						</div>
						<div class="col-xs-3">		
							<!--<h2>{{place}}</h2>-->
							<h3>Winter</h3>
						</div>
					</div>		
				</div>				
			</div>			
	</div>	
</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>